@model IEnumerable<VendasWeb.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Create" class="btn btn-primary">Novo Cliente</a>
    </div>
</header>

@if(Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Senha)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Senha)
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="Pedidoes" asp-route-id="@item.IdUsuario" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" title="Pedidos">
                            <i class="bi-mailbox"></i>
                        </a> |
                        <a asp-action="Index" asp-controller="Enderecoes" asp-route-id="@item.IdUsuario" class="btn btn-sm btn-success" data-bs-toggle="tooltip" title="Endereços">
                            <i class="bi-mailbox"></i>
                        </a> |

                        <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-sm btn-warning" data-bs-toggle="tooltip" title=" Editar Dados do Cliente">
                            <i class="bi-mailbox"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-sm btn-info" data-bs-toggle="tooltip" title="Detalhes do Cliente">
                                <i class="bi-mailbox"></i>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" title="Excluir Cliente"><i class="bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Não há nenhum cliente cadastrado.</p>
}