@model IEnumerable<VendasWeb.Models.Endereco>

@{

    var cliente = ViewBag.Cliente as Cliente;
    ViewBag.Subtitulo = $"Endereços do Cliente <b>{cliente.Nome}</b>";
    
}
<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@Html.Raw(ViewBag.Subtitulo)</h1>
    </div>
    <div>
        <a asp-action="Create" asp-route-id="@cliente.IdUsuario" class="btn btn-primary">Novo Endereço</a>
    </div>
</header>
<hr>


@if(Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Logradouro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Complemento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CEP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Referencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Selecionado)
                </th>
               
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Complemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Referencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Selecionado)
                    </td>
                  
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdEndereco" class="btn btn-sm btn-warning" data-bs-toggle="tooltip" title=" Editar Endereço">
                            <i class="bi-mailbox"></i>
                        </a> |
                        <a asp-action="Details" asp-route-id="@item.IdEndereco" class="btn btn-sm btn-info" data-bs-toggle="tooltip" title="Detalhes do Endereço">
                            <i class="bi-mailbox"></i>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.IdEndereco" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" title="Excluir Endereço"><i class="bi-trash"></i></a>
                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum endereço cadastrado para este cliente.</p>
}
