@model IEnumerable<VendasWeb.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Create" class="btn btn-primary">Nova Categoria</a>
    </div>
</header>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCategoria" class="btn btn-sm btn-warning" data-bs-toggle="tooltip" title=" Editar Dados da Categoria">
                        <i class="bi-mailbox"></i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.IdCategoria" class="btn btn-sm btn-info" data-bs-toggle="tooltip" title="Detalhes da Categoria">
                        <i class="bi-mailbox"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCategoria" class="btn btn-sm btn-danger" class="bi-trash" data-bs-toggle="tooltip" title="Excluir Categoria">
                        <i class="bi-mailbox"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
